input:not([type]), input[type='text'], button {
  font-size: 1rem;
  border: none;
  outline: none;
}

button {
  background: none;
  font-weight: bold;
  position: relative;
  border-radius: 5px;
}

button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: currentColor;
  border-radius: inherit;
  opacity: 0;
}

button:hover::before {
  opacity: 0.05;
}

button:active::before {
  opacity: 0.1;
}

input:not([type]), input[type='text'] {
  color: currentColor;
  padding: 0.3em 0.5em;
  margin: 0.1em 0.3em;
  border-radius: 0.3em;
}

i[class^='i-'] {
  display: inline-block;
  vertical-align: sub;
}
