button {
  background: none;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  border-radius: 5px;
}

button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: currentColor;
  border-radius: inherit;
  opacity: 0;
}

button:hover::before {
  opacity: 0.05;
}

button:active::before {
  opacity: 0.1;
}

i[class^='i-'] {
  display: inline-block;
  vertical-align: sub;
}
